body {
  text-align: center;
  background: #00ecb9;
  font-family: sans-serif;
  font-weight: 100;
}
.timer {
 font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
.field{
  width: 110px;
  height: 114px;
  float: left;
  background: #000;
  background-image: linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    border-radius: 7px;
    background-clip: padding-box;
    padding: 0 12px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #555;
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    text-shadow: 0 3px 3px #000000;
}
.value{
  font-size: 50pt;
  width: 55px;
  text-align: center;
  color:  #00bf96;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.label{
  font-size: 25px;
   left: 0;
   text-align: center;
   width: 100%;
   color: #000000;
  box-shadow: 0 5px 8px #000000;
}
